fastapi
uvicorn
sqlalchemy
python-multipart
ultralytics
opencv-python-headless
pillow
numpy
reportlab
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
google-generativeai
python-dotenv
